extends layout

block content

	h1 Login Page
	form(role='form' action="/login" method="post")
		input(type="text" name="username" placeholder="Enter Username")
		input(type="password" name="password" placeholder="Password")
		button(type="submit") Submit
		button(type="button") Cancel